MODULE_LICENSE_BSD filter=lfs diff=lfs merge=lfs -text
proto.h filter=lfs diff=lfs merge=lfs -text
FIXES filter=lfs diff=lfs merge=lfs -text
lex.c filter=lfs diff=lfs merge=lfs -text
lib.c filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
parse.c filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
b.c filter=lfs diff=lfs merge=lfs -text
bugs-fixed filter=lfs diff=lfs merge=lfs -text
TODO filter=lfs diff=lfs merge=lfs -text
tran.c filter=lfs diff=lfs merge=lfs -text
main.c filter=lfs diff=lfs merge=lfs -text
makefile filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
testdir filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
awkgram.y filter=lfs diff=lfs merge=lfs -text
ChangeLog filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
maketab.c filter=lfs diff=lfs merge=lfs -text
REGRESS filter=lfs diff=lfs merge=lfs -text
run.c filter=lfs diff=lfs merge=lfs -text
awk.1 filter=lfs diff=lfs merge=lfs -text
awk.h filter=lfs diff=lfs merge=lfs -text
